<aside google-chart chart="map" agc-on-select="selectHandler(selectedItem)"></aside>
<section class="mainSection indexMain">
    <h3>Ogólnie</h3>
    <table>
        <tr>
            <th>Kandydat</th>
            <th>Głosy</th>
            <th>Wynik</th>
            <th>Kolor</th>
        </tr>
        <tr ng-repeat="cand in data.summary">
            <td>{{ cand.name }}</td>
            <td>{{ cand.votes }}</td>
            <td>{{ cand.result | number:2 }}%</td>
            <td><div class="box cand{{ cand.id }}-color"></div></td>
        </tr>
    </table>
</section>
<section class="secondSection">
    <h3>Wojewódstwa</h3>
    <table>
        <tr>
            <th>Województwo</th>
            <th>Wykres</th>
        </tr>

        <tr ng-repeat="voivodeship in data.voivodeships">
            <td><a href="/#/voivodeship/{{ voivodeship.name }}">{{ voivodeship.name }}</a></td>
            <td><div class="horizontal-bar">
                <div ng-repeat="cand in voivodeship.cands"
                     class="cand{{ cand.id }}-color floating" 
                     style="width: {{ cand.result }}%"></div>
            </div></td>
        </tr>
    </table>
</section>

<div class="loader" ng-show="isLoading"></div>